body{
    background-color: #d0efff;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

h3{
    color: #aaaaaa;
    width: 95%;
}

.post{
    margin: 2em;
    border: 1px solid #000000;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

h4{
    width: 100%;
}

#title-section{
    border: 1px solid #000000;
    padding: 1em;
    width: 50%;
    margin: auto;
    text-align: center;
}

.fa-star{
    color: #FF9FB2;
}

/* form{
    
} */


/* All Dark Mode color versions using CSS selectors */
/* Literally grabbed the classes and elements and done .darkMode */

body.darkMode{
    background-color: #091d1e;
    color: #aaaaaa;
}


#title-section.darkMode{
    border: 1px solid #aaaaaa;
}


.post.darkMode{
    border: 1px solid #aaaaaa;
}


h3.darkMode{
    color : #466876;
}



